@charset "utf-8";
header {
    background-image: url(img/header.jpg);
    background-repeat: repeat-x;
    height: 300px;
    width: 1700px;
}
main {
    width: 2095px;
    height: 1000px;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 11px;
    float: right;
}
div {
    width: 2095px;
    height: 253px;
    background-color: #e7e7de;
    padding-top: 28px;
}

footer p {
    color: #FFFFFF;
    text-align: center;
    font-size: small;
    margin-top: -27px;
}
footer {
    height: 31px;
    background-color: #000033;
    position: relative;
    padding-top: 31px;
    margin-top: 1004px;
}
body {
    background-color: rgba(255,255,255,1.00);
    width: 1700px;
}
main h1 {
    text-align: right;
    color: #008891;
    padding-right: 375px;
}
main p {
    text-align: right;
    line-height: 30px;
    font-weight: bolder;
    padding-right: 375px;
}
.embed-responsive.embed-responsive-16by9 {
    width: 1000px;
    height: 500px;
}
main img {
    width: 1000px;
    height: 600px;
    padding-left: 198px;
}
main video {
    padding-left: 164px;
    padding-top: 37px;
    border-width: 0%;
}
.b4 {
    background-color: #306276;
    width: 142px;
    border-radius: 13px;
    height: 27px;
    position: relative;
    top: 208px;
    left: 737px;
}
header a {
    color: #FFFFFF;
    /* [disabled]text-align: center; */
    position: relative;
    padding-left: 27px;
    top: 181px;
    left: 565px;
    text-decoration: none;
}
header h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: xx-large;
    position: relative;
    top: 175px;
    left: -31px;
}
@media (max-height:1024px) and (max-width:1366px){
header {
    background-image: url(img/header.jpg);
    background-repeat: repeat-x;
    height: 300px;
    width: 1366px; } 
 
main {
    width: 2095px;
    height: 1000px;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 11px;
    float: right;
}
div {
    width: 2095px;
    height: 253px;
    background-color: #e7e7de;
    padding-top: 28px;
}

footer p {
    color: #FFFFFF;
    text-align: center;
    font-size: small;
    margin-top: -27px;
}
footer {
    height: 31px;
    background-color: #000033;
    position: relative;
    padding-top: 31px;
    margin-top: 1004px;
}
body {
    background-color: rgba(255,255,255,1.00);
    width: 1700px;
}
main h1 {
    text-align: right;
    color: #008891;
    padding-right: 375px;
}
main p {
    text-align: right;
    line-height: 30px;
    font-weight: bolder;
    padding-right: 375px;
}
.embed-responsive.embed-responsive-16by9 {
    width: 1000px;
    height: 500px;
}
main img {
    width: 1000px;
    height: 600px;
    padding-left: 198px;
}
main video {
    padding-left: 164px;
    padding-top: 37px;
    border-width: 0%;
}
.b4 {
    background-color: #306276;
    width: 142px;
    border-radius: 13px;
    height: 27px;
    position: relative;
    top: 208px;
    left: 737px;
}
header a {
    color: #FFFFFF;
    /* [disabled]text-align: center; */
    position: relative;
    padding-left: 27px;
    top: 181px;
    left: 565px;
    text-decoration: none;
}
header h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: xx-large;
    position: relative;
    top: 175px;
    left: -31px;
}	
	}